<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1> Hi,arjoo</h1>
                        <h1>web developer is present here </h1>
                        <a href="http://localhost:3000/about"><button>about</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://tse1.mm.bing.net/th?id=OIP.LMDHd97TSPFEcenhLdwbHwHaE7&pid=Api&P=0&h=180" alt="arjoo jangra" class=" img-fluid" title="arjoo technical">
                        </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>